@{
    var Home = HttpContextAccessor.HttpContext.Session.GetString("Home");
    var SystemView = HttpContextAccessor.HttpContext.Session.GetString("SystemView");
    var SystemUser = HttpContextAccessor.HttpContext.Session.GetString("SystemUser");

    var AppStaticMessage = HttpContextAccessor.HttpContext.Session.GetString("AppStaticMessage");
    var AppStaticWord = HttpContextAccessor.HttpContext.Session.GetString("AppStaticWord");
    var Language = HttpContextAccessor.HttpContext.Session.GetString("Language");
    var MemberType = HttpContextAccessor.HttpContext.Session.GetString("MemberType");

    var Group = HttpContextAccessor.HttpContext.Session.GetString("Group");
    var GroupMember = HttpContextAccessor.HttpContext.Session.GetString("GroupMember");
    var GroupMessage = HttpContextAccessor.HttpContext.Session.GetString("GroupMessage");
    var User = HttpContextAccessor.HttpContext.Session.GetString("User");
}

<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            القائمه
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

                <ul class="nav nav-main">
                    <li>
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            <span>الرئيسيه</span>
                        </a>
                    </li>
                    @if (AppStaticMessage != null || AppStaticWord != null || Language != null || MemberType != null)
                    {
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                <i class="fas fa-cogs"></i>
                                <span>البيانات الاساسيه</span>
                            </a>
                            <ul class="nav nav-children">
                                @if (AppStaticMessage != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="AppStaticMessage" asp-action="Index">
                                            <i class="fas fa-cog"></i>
                                            الرسائل الثابتة
                                        </a>
                                    </li>
                                }
                                @if (AppStaticWord != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="AppStaticWord" asp-action="Index">
                                            <i class="fas fa-cog"></i>
                                            الكلمات الثابتة
                                        </a>
                                    </li>
                                }
                                @if (Language != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="Language" asp-action="Index">
                                            <i class="fas fa-cog"></i>
                                            اللغة
                                        </a>
                                    </li>
                                }
                                @if (MemberType != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="MemberType" asp-action="Index">
                                            <i class="fas fa-cog"></i>
                                            انواع الاعضاء
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (User != null)
                    {
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                <i class="fas fa-users"></i>
                                <span>المستخدمين</span>
                            </a>
                            <ul class="nav nav-children">
                                @if (User != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="User" asp-action="Index">
                                            <i class="fas fa-users"></i>
                                            المستخدمين
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Group != null || GroupMember != null || GroupMessage != null)
                    {
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                <i class="fas fa-layer-group"></i>
                                <span>ادارة المجموعات</span>
                            </a>
                            <ul class="nav nav-children">
                                @if (Group != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="Group" asp-action="Index">
                                            <i class="fas fa-layer-group"></i>
                                            المجموعة
                                        </a>
                                    </li>
                                }
                                @if (GroupMember != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="GroupMember" asp-action="Index">
                                            <i class="fas fa-user-plus"></i>
                                            اعضاء المجموعة
                                        </a>
                                    </li>
                                }
                                @if (GroupMessage != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="GroupMessage" asp-action="Index">
                                            <i class="fas fa-comments"></i>
                                            رسائل المجموعة
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (SystemView != null || SystemUser != null)
                    {
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                <i class="fas fa-users-cog"></i>
                                <span>ادارة النظام</span>
                            </a>
                            <ul class="nav nav-children">
                                @if (SystemUser != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="SystemUser" asp-action="Index">
                                            <i class="fas fa-users-cog"></i>
                                            مديرين النظام
                                        </a>
                                    </li>
                                }
                                @if (SystemView != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="SystemView" asp-action="Index">
                                            <i class="fas fa-window-restore"></i>
                                            صفحات النظام
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                </ul>
            </nav>
        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>


    </div>

</aside>
<!-- end: sidebar -->
